@model PracticeViewModel

<div id="MainFrame">
    <input hidden id="TotalFlashcardCountId" value="@(Model.TotalFlashcards)" />

    <form method="post">
        @for (int i = 1; i <= Model.TotalFlashcards; i++)
        {
            <input asp-for="FlashcardPracticeModels[i-1].Id" hidden id="Flashcard-id-@(i)" />
            <input asp-for="FlashcardPracticeModels[i-1].PracticeDirection" hidden id="Flashcard-practiceDrirection-@(i)">
            <input asp-for="FlashcardPracticeModels[i-1].FlashcardKnowledgeInt" hidden id="Flashcard-practiceStatus-@(i)" />
            <input asp-for="FlashcardPracticeModels[i-1].CorreactAnsInRow" hidden />
            if (Model.FlashcardPracticeModels[i - 1].PracticeDirection == PracticeDirection.FromNativeToForeign)
            {
                <div class="FlashcardPractice" onclick="ShowAnswer('FlashcardPractice-front-@(i)', 'FlashcardPractice-back-@(i)')" id="FlashcardPractice-front-@(i)">
                    <p>@(Model.FlashcardPracticeModels[i-1].NativeLanguage)</p>
                </div>
                <div class="FlashcardPractice" id="FlashcardPractice-back-@(i)">
                    <p>@(Model.FlashcardPracticeModels[i-1].ForeignLanguage)</p>
                </div>
            }
            else
            {
                <div class="FlashcardPractice" onclick="ShowAnswer('FlashcardPractice-front-@(i)', 'FlashcardPractice-back-@(i)')" id="FlashcardPractice-front-@(i)">
                    <p>@(Model.FlashcardPracticeModels[i-1].ForeignLanguage)</p>
                </div>
                <div class="FlashcardPractice" id="FlashcardPractice-back-@(i)">
                    <p>@(Model.FlashcardPracticeModels[i-1].NativeLanguage)</p>
                </div>
            }
        }

        <div class="FinalPanel" id="FinalPanelId">
            <p>All done</p>
            <br />
            <input type="submit" class="FPButton FPButtonGiveMore" value="Save" asp-action="Practice"/>
        </div>
    </form>

    <div class="ButtonsPracticeStatusWrpaer" id="ButtonsPracticeStatusWrpaerId">
        <div class="BPSButton BPSOk" onclick="SetFlashcardAsKnow()"><p>Know</p></div>
        <div class="BPSButton BPSAlmostKnow" onclick="SetFlashcardAsAlmostKnow()"><p>Almost know</p></div>
        <div class="BPSButton BPSDontKnow" onclick="SetFlashcardAsDontKnow()"><p>Don't know</p></div>
    </div>
</div>

<script src="~/js/PracticeScript.js"></script>